<div class= "container">
        <h2> Chapter 1 Interpolation examples</h2>
        <div class="row">
              <div class="col-sm-6">
                <h3>Interpolation Example 1</h3>
                <p>This Example shows the usage of interpolation in Angular. Interpolation in Angular is represented by Double Curly braces</p>
                <p> Hi {{name}} {{message}}</p>
                <p> To find lenght of a string 'Pratik' = {{name.length}}
                <p> To convert value of a string 'Pratik' to lowercase = {{name.toLowerCase()}}</p>
                <p> To convert value of a string 'Pratik' to Uppercase = {{name.toUpperCase()}}</p>
              </div>
              <div class="col-sm-3">
                  <h3>Interpolation Example 2</h3>
                  <p>This Example shows how Double Curly braces can be used to evaluate expression of 2+2 = {{2+2}}</p>
              </div>
              <div class="col-sm-3">
                  <h3>Interpolation Example 3</h3>
                  <p>This Example shows how Double Curly braces can be used to evaluate expression of date = {{ dateTime}}</p>
              </div>
        </div>
</div>


