<div class= "container">  
    <div class="row alert-success">
          <a href="#interpolation" class="btn btn-primary" data-toggle="collapse">Interpolation Example</a>
          <div class="col-sm-12" id="interpolation">
            <interpolation-tut></interpolation-tut>
          </div>
    </div>
    <hr>
    <div class="row alert-warning">
        <a href="#property" class="btn btn-primary" data-toggle="collapse">Property Example</a>
        <div class="col-sm-12" id="property">
          <property-binding></property-binding>
        </div>
    </div>
    <hr>
    <div class="row alert-info">
        <a href="#structures" class="btn btn-primary" data-toggle="collapse">Structures Example</a>
        <div class="col-sm-12" id="structures">
          <structures></structures>
        </div>
    </div>
    <hr>
    <div class="row alert-danger">
        <a href="#interact" class="btn btn-primary" data-toggle="collapse">Component Interaction Example</a>
        <div class="col-sm-12" id="interact">
         <comp-interact></comp-interact>
        </div>
    </div>
    <hr>
    <div class="row alert-info">
        <a href="#service" class="btn btn-primary" data-toggle="collapse">Service Example</a>
        <div class="col-sm-12" id="service">
           <service-example></service-example>
        </div>
  </div>
  <hr>
</div>