<div class= "container">
  <h2> Chapter 5 Using Service examples</h2>
  <div class="row">
        <div class="col-sm-6">
          <h3>Service Example 1</h3>
          <p>This Example shows the usage of services in Angular. Services in Angular is used by Components to get data or perform business logic</p>
          <ul *ngFor = "let user of usersData">
            <p>{{user.id}}.  {{user.userId}}  {{user.title}} {{user.body}}</p>
          </ul>
        </div>
        <div class="col-sm-6">
          <h3>Service & Http Example 2</h3>
          <p>This Example shows the usage of services along with Http modules to load data from dummy json file</p>
          <p>{{errorMsg}}</p>
          <ul *ngFor = "let user of usersJsonData">
            <p>{{user.id}}.  {{user.userId}}  {{user.title}} {{user.body}}</p>
          </ul>
        </div>       
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Service & Http Example 3</h3>
      <p>This Example shows the usage of services along with Http modules to load data from actual web Service url 'https://jsonplaceholder.typicode.com/'</p>
      <ul *ngFor = "let user of usersHttpData">
        <p>{{user.id}}.  {{user.userId}}  {{user.title}} {{user.body}}</p>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3>Service & Http Example 4</h3>
      <p>This Example shows the usage of services along with Http modules to load data from backend Spring Rest Api call</p>
      <button (click)= "getSpringRestApiData()">Press me !!!</button>
      <ul *ngFor = "let user of usersSpringRestApiData">
        <p>{{user.id}}.  {{user.userId}}  {{user.title}} {{user.body}}</p>
      </ul>
      <p>{{errorMsg}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Service & Http Example 5</h3>
      <p>Spring Rest Api call 2</p>
      <button (click)= "getSpringRestApiData2()">Press me Again Na!!!</button>
      <ul *ngFor = "let user of usersSpringRestApiData2">
        <p>{{user.id}}.  {{user.userId}}  {{user.title}} {{user.body}}</p>
      </ul>
      <p>{{errorMsg}}</p>
    </div>
  </div>
</div>



