<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<body>
    <div class="jumbotron text-center">
        <div class="jumbotron text-center">
            <h3>Hello {{name}} I'm in the App Component {{title}}</h3>
            <hr>
            <app-servers></app-servers>
            <hr>
            <!-- <app-success></app-success>
            <app-warning></app-warning> -->
        </div>
    </div>
</body>