<div id="tabs">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActiveOptions = "{exact :true}"routerLink = "/tutorials" routerLinkActive = "active" skipLocationChange = "true">Basic Tutorial Page</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink = "/forms" routerLinkActive = "active" skipLocationChange = "true">Forms Tutorial Page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink = "/jquery" routerLinkActive = "active" skipLocationChange = "true">Jquery Tutorial Page</a>
  </li>
</ul>
</div>